@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 800px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 10px;
  font-size: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 550px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

.header {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  margin: 0px 15px;
}

.links {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
}
